

<div class="subjects index">

  <h1>Subjects</h1>
  <%= link_to("Add new Subject", 'subjects/new',:class => 'action new')%>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Action</th>
    </tr>
    <%@sections.each do |section | %>
      <tr>
        <td><%= section.position %></td>
        <td><%= section.name %></td>
        <td class="center"><%= section.visible ? 'Yes': 'No' %></td>
        <td class="center"><%= section.pages.size%></td>

        <td class = "action">
          <%=link_to("Show",{:controller => 'section',:action => 'show',:id =>section.id } ,:class=>'action show')%>
          <%=link_to("Delete",delete_subject_path(section.id),:class=>'action delete') %>
          <%=link_to("Edit",edit_subject_path(section.id),:class=>'action delete')%>
        </td>

      </tr>
    <% end %>
  </table>
</div>