<table summary="Subject for fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name)%></td>
    <%#  binding.pry %>
    <td><% @subject.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.text_field(:position)%></td>
  </tr>
  <tr>
    <th>Visible</th>
    <td><%= f.text_field(:visible)%></td>
 
<%= message.hidden_field :parent_id, value: "foo" %>
<%= message.password_field :password %>
<%= message.number_field :price, in: 1.0..20.0, step: 0.5 %>
<%= message.range_field :discount, in: 1..100 %>
<%= message.date_field :born_on %>
<%= message.time_field :started_at %>
<%= message.datetime_local_field :graduation_day %>
<%= message.month_field :birthday_month %>
<%= message.week_field :birthday_week %>
<%= message.search_field :name %>
<%= message.email_field :address %>
<%= message.telephone_field :phone %>
<%= message.url_field :homepage %>
<%= message.color_field :favorite_color %>

  </tr>
</table>

