<%= stylesheet_link_tag "main" %>
<%= javascript_include_tag "main" %>
<%= javascript_tag '' %>
<h1><%= @subject.name_space %></h1>


 
<%= link_to("BACK TO LIST", subjects_path, :class => 'back-link')%>
<div class="subjects show">
  <h1>Show Subject</h1>
  <table summary="Subject detail view">
    <tr>
      <th>ID</th>
      <td><%= @subject.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @subject.name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @subject.position %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= @subject.visible ? 'true': 'false' %></td>
      <%# %>
    </tr>
    <tr>
      <th>Created</th>

      <td><%= @subject.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @subject.updated_at %></td>
    </tr>
  </table>
</div>
<button id="myBtn">Try it</button>

<%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>
<h1 id="demo">Mouse over me</h1>

<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>

<%= button_tag "Save", :id => 'btn'   %>
<p id="demo"></p>


<%= javascript_include_tag "main" %>

